* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-user-select: none;
}

.logo {
    width: 165px;
    height: 70px;
}

.search {
    position: relative;
    width: 100%;
    float: left;
}

.search-bar {
    width: 250px;
    height: 30px;
    font-size: 14px;
    border: 5px solid #ffffff;
    background-color: #efe9e7;
    border-radius: 30px;
    padding: 0 0 0 15px;
    outline: none;
    margin-left: -25px;
}

.search-btn {
    width: 25px;
    height: 25px;
    margin: 8px 15px 0 0;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: -25px;
}

.title {
    font-size: 14pt;
    background-color: #162243;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.tle>a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 25px;
    text-align: right
}

.footer {
    font-size: 12pt;
    background-color: #162243;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    margin-top: 30px;
}
/*------------------------------購物車-------------------------*/

.box{
    background-color: #b0c5e6;
    padding: 1px 20px;
    margin: 10px auto 10px auto;
    width: 1050px;
}

.form {
    display: flex;
    margin: 20px 0 20px 35%;
}

.form > img{
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0 ;
}

.form > input{
    padding-left: 5px;
    font-size: 16px;
}

hr{
    margin: 0 100px;
    color: gray;
}

.product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    margin-top: -20px;
}

.product > img{
    width: 350px;
    height: 350px;
}

.product > h3{
    margin: -30px -50px;
}

.alert {
    padding: 20px;
}
  
.btn {
    margin-right: 100px;
    margin-top: 35px;
    color: rgb(80, 80, 80);
    float: right;
    font-size: 20px;
    line-height: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.total{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 100px 20px 70%;
    text-align: right;
}

.lulu{
    background-color: #84d2de;
    margin: 10px 100px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}


.checkout{
    width: 150px;
    height: 70px;
    font-size: 16pt;
    background-color:lightgray;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: all 0.5s;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 30px 20px 75%;
    text-align: right;
}
.checkout:hover{
    background-color:gray;
    color: white;
}

.cat_posi{
    position:sticky;
    bottom: 5px;
    right: 10px;
    float: right;
}

.cat{
    width: 119.3px;
    height: 107.9px;
}